<div style="text-align: center;">
  <h2>Question:</h2>
  <form class="" action="/ask" method="post">
    <input type="text" name="question" value=""/>
    <input type="submit"/>
  </form>
  <p>{{traLoi}}</p>

</div>
