<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>trang chu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/nav.css">
	<link rel="stylesheet" type="text/css" href="./css/style_about.css">

</head>
<body>
	<header id="header">
		<nav class="menu1">
			<span><a href="/">Home</a></span>
			<span><a href="/about">About CV</a></span>
			<span><a href="/ask">Ask</a></span>
			<span><a href="/question">Question</a></span>
		</nav>
	</header><!-- /header -->
  <br>
  <br>
  {{{body}}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
