h1,
section{
	color: red;
}

#secondli{
	background-color: #ffff00;
}
.li{
	background-color: rgb(0, 255, 0);
}

.blurred-text{
	background-color: rgba(0, 0, 0, 0.2);
}

[type="text"]{
	border: 1px solid red;
	color: blue;
}

[name="username"]{
	border: 2px solid blue;
}

a:active{
	font-weight: bold;
}

input:focus{
	border-radius: 50%;
}

ol li{
	font-family: "Comic Sans MS";
	border-bottom: 1px solid blue;
}

ol li:last-child {
	border-bottom: 0 none;
}

ol > li{
	width: 400px;
}

